.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl

.terragrunt-cache/
terragrunt-debug.tfvars
.terragrunt-source-map

*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.log
.terraformrc
terraform.rc

.DS_Store
.idea/
.vscode/
*.swp
