name: Cosign Image on Push
on: [push]

jobs:
  sign-and-verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/ch2:1.0.0

      - name: Sign the published Docker image
        run: |
          cosign sign --yes ${{ secrets.DOCKER_USERNAME }}/ch2:1.0.0


