name: Cosign Image on Push
on: [push]

jobs:
  sign-and-verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Cosign
        run: curl -L "https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64" -o cosign && chmod +x cosign


